<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>掲示板</title>
    </head>
    <body>
        <h1>リダイレクト用検証用ページ</h1>
        <a href="http://localhost:8080/redirect">Go To Page</a>
        <h1>書き込み</h1>
        <form action="/" method="POST">
            <label for="name">名前</label>
            <input type="text" id="name" name="name"><br>
            <label for="message">メッセージ</label>
            <input type="text" id="message" name="message"><br>
            <button type="submit">送信</button>
        </form>
        <h1>過去書き込み</h1>
        <ul>
            <% prevMessages.forEach(message => { %>
                <li><strong><%= message.name %>:</strong> <%= message.message %></li>
            <% }); %>
        </ul>
    </body>
</html>